* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: white;
    text-decoration: none;    
}
.nav-header {   
    background: #FF6600;
    height: 115px;
}
.nav-container {
    margin: 0px auto 0px auto;
    padding-top: 5px;
    width: 80%;    
}
.h-30px {
    height: 30px;
}
.h-40px {
    height: 40px;
}
.float-l {
    float: left;
    
}
.float-r {
    float: right;
}
li {
    display: inline-block;
    list-style-type: none;
    padding: 5px 5px;
}
.nav-cont-bottom {
    margin: 12px auto 0px auto;
}
.logo-cart-cont {  
    height: 60px;
    width: 15%;
}
.search-bgcolor {
    background: white;
    height: 39px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}
.search-container {    
    height: 49px;
    width: 70%;
}
.search-text {
    height: 25px;
    width: 85%;
}
.search-submit {
    margin-right: auto;
    height: 25px;
    width: 15%;
}
input[type=text] {
    width: 100%;
    padding: 11px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    color: rgb(95, 89, 89);
}
input[type=submit] {
    background-color: #FF6600;
    padding: 11px 37px;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    margin: 1px 1px;   
}
ul.search-item li {
    display: inline-block;
    list-style-type: none;
    padding: 5px 6px;
    font-size: 12px;
}
h1 {
    margin-left: 40px;
}
h3 {
    margin: 20px 10px;   
}
.center-holder {
    height: 60px;
    width: 90%;
    margin-left: 10px;
}
.logo {
    border: 3px solid white;
    border-radius: 30px;
    height: 55px;
    width: 55px;
}
p.logoimg {
    padding-left: 10px;
    font-size: 45px;
    font-weight: bolder;   
}
img {
    margin-left: 25px;
    height: 38px;
    width: 25%;
}
.text-bold {
    font-weight: bold;
}
ul {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
a:hover {
    color: orange;
}
img.fb-ins {
    margin-left: 4px;
    margin-top: 4px;
    height: 15px;
    width: 15px;
}